# ----------------------------
# Data & large files
# ----------------------------
data/
*.csv
*.npy
*.npz

# ----------------------------
# Trained models
# ----------------------------
*.h5
*.pt
*.pkl

# ----------------------------
# Python cache
# ----------------------------
__pycache__/
*.pyc
*.pyo

# ----------------------------
# Virtual environments
# ----------------------------
venv/
.env/

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log
